.skip-link {
  display: none;
  &:focus {
    display: block;
  }
}

.header {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  .hdr-logo {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    top: 0;
    left: -999px;
  }

  .logo {
    z-index: 9999;

    img {
      width: 150px;
      z-index: 9999;
    }
  }

  .nav-main {

    ul {
      li {
        text-align: left !important;
        @media print, screen and (min-width: 40em) {
            text-align: right;
        }

        a {
          text-align: left !important;
          @media print, screen and (min-width: 40em) {
              text-align: right;
          }
          color: #fff;
        }
      }
    }
  }
}

// Hide the annoying adminbar, at least during dev
#wpadminbar { display: none; }
html.no-js.no-js.no-svg { margin-top: 0px !important; }
