.nav-main {
  position: fixed;
  top: 0;
  right: -130vw;
  bottom: 0;
  // left: 0;
  width: 100vw;
  opacity: 0;
  // margin-right: -100vw;
  background: #000;
  z-index: 9998;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: all 0.25s;

  &.active {
    opacity: 1;
    right:0vw;
  }
  @media print, screen and (min-width: 40em) {
    display: block;
    position: static;
    top: unset;
    right: unset;
    bottom: unset;
    left:unset;
    opacity: 1;
    margin-right: 0;
    // transition: all 2s;
  }
}

// burger
.burger {
  @media print, screen and (min-width: 40em) {
    display: none;
  }
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    z-index: 9999;

    &.active .burger-box span:first-child {
      transform: translate3d(0,8px,0);
    }
    &.active .burger-box span:last-child {
      transform: translate3d(0,-8px,0);
    }
}

.burger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;

    & span {
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #fff;
      top: 50%;
      display: block;
      margin-top: -2px;

      &:first-child {
        position: absolute;
        width: 40px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #fff;
        top: 0;
      }

      &:last-child {
        position: absolute;
        width: 40px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #fff;
        top: 16px;
      }
    }
}

// menu
.menu.align-right.vertical li {
  position: relative;

  @media print, screen and (min-width: 40em) {
      text-align: left !important;
  }
}

.menu-item {
    @media print, screen and (min-width: 40em) {
        text-align: left !important;
    }
    
  a {
    text-transform: uppercase;
    @media print, screen and (min-width: 40em) {
        text-align: left !important;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    background: #000;
    width: max-content;
    margin: 0;
    list-style: none;
  }

  &:hover,
  &:focus {

      .sub-menu {
        display: block;
      }

      .arrow {
        border-top: 0px solid transparent;
        border-bottom: 5px solid #fff;
      }
  }

  .arrow {
    position: absolute;
    top: 18px;
    transform: translateY(-50%);
    right: 0;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-left: 5px solid transparent;
  }
}
