<header class="header" >
  {% block header %}

      <h1 class="hdr-logo" role="banner">
        <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
      </h1>
      <a class="logo" href="{{site.url}}" rel="home">
        <img src="{{ site.theme.link }}/assets/img/logo.svg">
      </a>

      <nav id="nav-main" class="nav-main" role="navigation">
        {% include "menu.twig" with {'items': menu.get_items} %}
      </nav>

      <button class="burger" type="button" id="burger">
        <span class="burger-box">
          <span></span>
          <span></span>
        </span>
      </button>

  {% endblock %}
</header>
