{% extends "base.twig" %}

{% block content %}

<section role="main" class="content-wrapper grid-container spacer">
	<div class="grid-x">
	  <div class="cell large-6 {{sidebar_class}}">
	    {% if post.title %}<h1>{{post.title}}</h1>{% endif %}
	    <div>
	      {{post.content}}
	    </div>
	  </div>
	</div>

	{% if teaser %}
		{% include 'services-tease.twig' %}
	{% endif %}

</section>

{% endblock %}
