<section role="main" class="content-wrapper grid-container spacer">
	<div class="grid-x grid-margin-x">

	 {% for item in teaser %}
			<a href="{{ item.link }}" class="service-teaser cell large-4" style="background-image:url('{{ item.image.sizes.large }}');">
				<span>{{ item.title }}</span>
		  </a>
		{% endfor %}

	</div>
</section>
